<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <title>Splurty</title>
  		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
</head>

<body>
	<header>
		<div class="col-xs-6 col-sm-2">
			<%= link_to root_path, :class => 'logo' do %>
			<div class="circle">	
  				<br />
  				TIME
  				<br />
  				TO
  				<br />
  				QUIT!
			</div>
			<% end %> 
		</div>
		
		<div class="col-sm-6 hidden-xs slogan">
		You Know It's Time To Quit When...
		</div>


<!-- Button trigger modal -->
	
		<div class="col-xs-6 col-sm-2 links">
			<button class="btn btn-primary" data-toggle="modal", data-target="#myModal">Share Your Reason </button>
			<%= link_to 'Share Your Reason', '#', :data => {:toggle => "modal", :target => "#myModal"} %><br>
			<%= link_to 'About', about_path %>
		</div>
	</header>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Share Your Story!</h2>
      </div>
      	<%= simple_form_for Quote.new do |f| %>	
      		<div class="modal-body"><h1>You Know It's Time to Quit When...</h1>
				<%= f.input :saying, label: 'Enter Your Reason', placeholder: 'enter up to 300 characters'  %>
				</br> 
				<%= f.input :author, label: 'Author', placeholder: 'you may want to use a nickname' %>
				</br>
      		</div>

     <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', :class => 'btn btn-danger' %>
     </div>
     <% end %>
    </div>
  </div>
</div>


<hr />
<br class="clear" />

<div class="container">
	<% if flash[:error].present? %>
		<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
		<%= flash[:error].html_safe %>
	</div>
	<% end %>
	<%= yield %>
</div>

<footer class ="footer">
	<div class ="container">
		<div class="col-xs-12 col-sm-6">
			<%= link_to "See more reasons to Bust-a-Move", root_path, :class => 'next-quote' %>
		</div>
		<div class="col-xs-12 col-sm-6 footer-blurb">
			Broadcast Live & Direct from Clichy
		</div>
		<p class="text-muted"></p>
	</div>
</footer>

</body>
</html>
