<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
			<%= link_to root_path, :class => 'logo' do %>
			<div class="circle">	
  				<br />
  				TIME
  				<br />
  				TO
  				<br />
  				GO
			</div>
			<% end %> 
		</div>
	<div class="col-xs-4 slogan">
		cos you know when it's time to go
	</div>
	
	<div class="col-xs-5 links">
		<%= link_to 'Contribute', new_quote_path %>
		<%= link_to 'About', '#' %>
	</div>
</header>
<hr />
<br class="clear" />

<div class="container">
</div>
<%= yield %>

<footer class ="footer">
	<div class ="container">
		<div class="col-xs-6">
			<%= link_to "See more reasons to Bust-a-Move", root_path, :class => 'next-quote' %>
		</div>
		<div class="col-xs-6 footer-blurb">
			Broadcast Live & Direct from Clichy
		</div>
		<p class="text-muted">Place sticky footer content here.</p>
	</div>
</footer>

</body>
</html>
